<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="JavaFilesPathOnMachine" value="C:\Users\Matan\Desktop\BigDataCourse\Task3\JavaFiles"></add>
  <add key="WebLogsPathOnMacine" value="C:\Users\Matan\Desktop\BigDataCourse\Task3\Web_logs"></add>
  <add key="JavaFilesPathOnRemote" value=""></add>
  <add key="WebLogsPathOnRemote" value=""></add>
  
 

</appSettings>
</configuration>