<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      
      <add key="MachineIp" value=""></add>
      <add key="MachineUserName" value=""></add>
      <add key="MachinePassword" value="training"></add>
    </startup>
</configuration>